.store-detail-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.store-detail-container .content-container {
  margin-top: 150px;
}

.store-detail-container .content-container .store-detail-title {
  display: flex;
  align-items: center;
}

.store-detail-container .content-container .store-detail-title button {
  margin-right: 10px;
}

.store-detail-container .content-container .store-detail-title h1 {
  margin-right: 10px;
  font-size: 28px;
}

.store-detail-container .content-container .store-products-card {
  display: flex;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin-top: 30px;
  justify-content: space-between;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-left-container {
  width: 50%;
  max-width: 380px;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-left-container
  form
  input
  + input {
  margin-top: 10px;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container {
  box-shadow: 0 0 20px rgb(219, 219, 219);
  margin-left: 50px;
  height: 100%;
  width: 100%;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  td,
.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  th {
  list-style: none;
  background-color: #f0f0f5;
  padding: 20px 20px;
  margin: 0;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  tr:not(:first-child) {
  border-top: 1px solid #e4e4f5;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  tr:first-child {
  border-radius: 8px 8px 0 0;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  tr:last-child {
  border-radius: 0 0 8px 8px;
}

.store-detail-container
  .content-container
  .store-products-card
  .store-card-right-container
  table
  tr
  td {
  padding: 10px;
}
