.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.profile-container .content-container {
  margin-top: 150px;
}

.profile-container h2 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.profile-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  box-shadow: -2px 2px 5px #999;

  display: flex;
  justify-content: space-between;
}

.profile-container ul li .content-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.profile-container ul li p + strong {
  margin-top: 32px;
}

.profile-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}
